@import url("https://fonts.googleapis.com/css2?family=Seaweed+Script&family=Raleway&display=swap");

#how-it-works {
  width: 100%;
  height: 100%;
  background-color: #131916;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow-x: hidden;
}

#how-header {
  font-size: 64px;
  font-family: "Allison";
  letter-spacing: 10px;
  color: #e0d4cb;
  text-align: center;
  padding: 2rem;
}

.process {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 700px;
  height: 100%;
  font-size: 16px;
  font-family: "Raleway";
  letter-spacing: 1px;
  color: #131916;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  opacity: 0.8;
}

.icon {
  text-align: center;
  width: 6%;
}

.step {
  margin-left: 3rem;
  overflow-wrap: break-word;
}
