@import url("https://fonts.googleapis.com/css2?family=Seaweed+Script&family=Raleway&display=swap");

#how-it-works {
  width: 100%;
  height: 100%;
  background-image: url("../sections/about/Picture1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

#table {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 45%;
}

#table tbody,
thead {
  background-color: #131916;
}

#how-header {
  font-size: 60px;
  font-family: "Seaweed Script";
  letter-spacing: 10px;
  color: #e0d4cb;
  text-align: center;
}

.process {
  display: flex;
  color: #e0d4cb;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  font-family: "Raleway";
  letter-spacing: 1px;
  width: 100%;
}

.process:hover,
.process:hover i {
  color: #fff;
  text-shadow: #e0d4cb;
}

.icon {
  text-align: center;
  width: 6%;
}

.step {
  margin-left: 3rem;
  overflow-wrap: break-word;
}
