@import url("https://fonts.googleapis.com/css2?family=Seaweed+Script&family=Raleway&display=swap");

#about {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #8f6450;
}

#meet-amanda-header {
  width: 100%;
  letter-spacing: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}

#amanda-header {
  font-family: "Allison", sans-serif;
  font-size: 64px;
  color: #e0d4cb;
  text-align: right;
  padding: 2rem;
}

#styleLine2 {
  width: 70%;
  height: 0.2rem;
  background-color: #e0d4cb;
  margin: 2rem;
}

#meet-amanda-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3%;
  align-items: center;
  justify-content: center;
}

#amanda-info {
  background-color: #131916;
  color: #e0d4cb;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 575px;
  border-radius: 15px;
  border: 1px solid black;
}

.content,
#amanda-image {
  width: 50%;
  height: 100%;
  background-color: #131916;
  color: #e0d4cb;
  padding: 2rem;
  border-radius: 15px;
  border: 1px solid black;
}

.content {
  overflow: scroll;
  padding: 3rem;
}

.content {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.content::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

#amanda-info h3 {
  font-family: "Allison", sans-serif;
  font-size: 32px;
  padding: 0rem 1rem;
}

.amanda-info-paragraph {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 3px;
  padding: 1rem;
  width: 100%;
  overflow-wrap: break-word;
}

.amanda-icon-paragraph {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.lang-icons {
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.lang-icons i {
  color: #e0d4cb;
  padding: 0rem 1rem;
  font-size: 30px;
}

.lang-icons i:hover {
  color: #fff;
  text-shadow: #e0d4cb;
}
