@import url("https://fonts.googleapis.com/css2?family=Seaweed+Script&family=Raleway&display=swap");

.navbar {
  padding: 0;
  width: 100%;
}

#menu-title {
  font: "Raleway";
  color: white;
  letter-spacing: 2px;
  z-index: 5;
  font-size: 20px;
  margin: 10px;
}

.mb-3 {
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-toggler {
  margin: 10px;
  border: none;
}

.navbar-toggler-icon {
  width: 50px;
  height: 50px;
}

.offcanvas {
  background-color: #0d1012;
}

.btn-close {
  width: 50px;
  height: 50px;
  background-image: url("../sections/landing/Close-Btn.svg");
  background-size: cover;
  margin-left: 80%;
}

.me-auto {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: transparent;
}

.nav-link {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Raleway";
  font-size: 20px;
  text-align: center;
  color: #e0d4cb;
}

.nav-link:hover {
  text-shadow: 0 0 10px white, 0 0 12px white;
  color: white;
  text-decoration: none;
}

#web-logo {
  width: 100%;
  max-width: 440px;
  z-index: 3;
}