@media (max-width: 1400px) {
  .me-auto {
    letter-spacing: 1px;
    padding: 0rem 2rem;
  }
  #amanda {
    font-size: 55px;
    letter-spacing: 3px;
  }
  #the-developer {
    font-size: 57px;
  }
}

@media (max-width: 1200px) {
  .me-auto {
    letter-spacing: 1px;
    padding: 0rem 1rem;
  }
  #amanda {
    font-size: 45px;
    letter-spacing: 3px;
  }
  #the-developer {
    font-size: 50px;
  }
  .nav-items {
    font-size: 18px;
  }
  #FAQ-styleLine {
    width: 0%;
    height: 0;
    margin: 0;
  }
  #FAQ-title {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 1100px) {
  #amanda {
    font-size: 40px;
    letter-spacing: 3px;
  }
  #the-developer {
    font-size: 45px;
  }
  .nav-items {
    font-size: 17px;
    letter-spacing: 0;
  }
  #amanda-info {
    flex-direction: column;
    height: 100%;
  }
  .content,
  #amanda-image {
    width: 100%;
  }
}

@media (max-width: 991px) {
  #brand {
    width: 0%;
    height: 0;
    font-size: 0;
    visibility: collapse;
  }
  .welcome {
    padding: 3rem;
  }
  #slogan {
    font-size: 20px;
  }
  #landing-header {
    font-size: 55px;
    text-align: center;
  }
  #how-it-works {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #table {
    width: 100%;
  }
  .service {
    width: 600px;
    height: 372px;
  }
}

@media (max-width: 800px) {
  .process {
    width: 350px;
  }
  .icon {
    width: 11%;
  }
}

@media (max-width: 600px) {
  .service.active {
    height: 100%;
  }
  .icon i {
    font-size: 40px;
  }
  .qCard {
    width: 85%;
  }
  .swipe-card-title {
    font-size: 18px;
  }
  .service {
    height: 100%;
  }
  #FAQ-title {
    width: 100%;
  }
  #contact {
    height: 100%;
  }
  #contact-styleLine,
  #styleLine2 {
    visibility: hidden;
    width: 0;
    margin: 0;
  }
  #contact-header,
  #amanda-header {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 525px) {
  .amanda-icon-paragraph {
    justify-content: center;
  }
  .swipe-card-title {
    font-size: 16px;
    letter-spacing: 0;
  }
}

@media (max-width: 460px) {
  #contact-body {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .swipe-card-title {
    font-size: 14px;
  }
  .swipe-card-description {
    font-size: 12px;
  }
  .swipe-button {
    font-size: 12px;
  }
}
