@media (max-width: 1500px) {
  #FAQ-styleLine {
    width: 60%;
  }
}

@media (max-width: 1200px) {
  .nav-items {
    font-size: 18px;
  }
  #services-body {
    display: flex;
    flex-direction: column;
  }
  .service {
      height: 100%;
  }
  #FAQ-styleLine {
    width: 0%;
    height: 0;
    margin: 0;
  }
  #FAQ-title {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 1100px) {
  #amanda-info {
    flex-direction: column;
    height: 100%;
  }
  .content,
  #amanda-image {
    width: 100%;
  }
}

@media (max-width: 991px) {
  h2 {
    font-size: 60px;
  }
  #brand {
    max-height: 120px;
    width: 50%;
  }
  .welcome {
    padding: 3rem;
    max-height: 500px;
  }
  #landing-header {
    font-size: 55px;
    text-align: center;
  }
  #contact-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    grid-auto-rows: minmax(100px, auto);
  }
  .circle {
    margin-left: 25%;
  }
  .swiper-wrapper {
      margin: 3rem;
  }
}

@media (max-width: 800px) {
  .icon {
    width: 30%;
  }
  #slogan {
    font-size: 22px;
  }
  h2 {
    font-size: 45px;
  }
  .process {
    width: 90%;
  }
  .step {
    width: 70%;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  #landing {
        height: 110vh;
  }
  .icon i {
    font-size: 40px;
  }
  .swipe-card-title {
    font-size: 18px;
  }
  
  #FAQ-title {
    width: 100%;
  }
  #contact-styleLine,
  #styleLine2, 
  .styleLine {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }
  #contact-header,
  #amanda-header {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  #contact-header,
  #contact-title {
    padding: 0;
  }
  #contact-body {
    height: 100%;
  }
  .circle {
    width: 125px;
    height: 125px;
  }
}

@media (max-width: 525px) {
  .amanda-icon-paragraph {
    justify-content: center;
  }
  .swipe-card-title {
    font-size: 16px;
    letter-spacing: 0;
  }
  h2 {
    font-size: 40px;
  }
  #brand {
    visibility: hidden;
  }
}
