@import url("https://fonts.googleapis.com/css2?family=Seaweed+Script&family=Raleway&display=swap&family=Allison&display=swap");

#services {
  background-color: #e0d4cb;
}

#services-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #131916;
}

.styleLine {
  width: 30%;
  height: 0.2rem;
  background-color: #131916;
}

#services-body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin: 50px 0rem;
  justify-content: center;
  align-items: center;
}

#service-header {
  padding: 1rem;
}

.service {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 25px;
  padding: 1rem 0rem;
  align-items: center;
  justify-content: space-evenly;
  overflow-wrap: break-word;
  width: 100%;
  height: 100%;
}

.service-title {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Raleway";
  text-align: center;
  margin: 1rem;
}

.fas {
  font-size: 60px;
  color: #8f6450;
  margin: 1rem 0rem;
}

.service p {
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  width: 90%;
  height: 55%;
}

.learn {
  background-color: #e0d4cb;
  border: none;
  color: #8f6450;
  text-transform: uppercase;
  font-weight: 700;
}

.learn:hover,
.learn:focus {
  background-color: #8f6450;
  color: #e0d4cb;
}

.close {
  font-size: 30px;
}
